body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
header {
    background-color: green;
    text-align: right;
    color: green;
    font-size: 20px;
    padding: 20px;
    border-bottom: 10px solid #deaf94;
}

header a {
    text-decoration: none;
    color: white;
}

main {
    text-align: center;
}

section {
    text-align: center;
    background-color: #e8cebd;
    margin-bottom: 0px;
    border-top: 5px solid #deaf94;
}

form {
    display: inline-block;
    border: 5px solid #deaf94;
    border-radius: 20px;
    margin-bottom: 0px;
    padding: 20px;
    line-height: 30px;
}

.button {
    background-color: black;
    border: 2px solid gray;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

footer {
    text-align: center;
    background: green;
    color: white;
    border-bottom: 5px solid black;
    margin-top: 0px;
}